<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="ValueAtRisk.Properties.Settings.PortfolioConnectionString" connectionString="Data Source=bit.uni-corvinus.hu;Initial Catalog=Portfolio;User ID=hallgato;Password=Password123" providerName="System.Data.SqlClient" />
    <add name="PortfolioEntities" connectionString="metadata=res://*/TickModel.csdl|res://*/TickModel.ssdl|res://*/TickModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bit.uni-corvinus.hu;initial catalog=Portfolio;user id=hallgato;password=Password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>